<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <!--<a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>-->
        <h3>Спари 4!</h3>
        <nav>
            <ul class="nav-links">
                <li><a href="/leaderboards">Листа успеха</a></li>
                <li><a href="/o-nama">О мени</a></li>
                <li><a href="/novosti">Контакт</a></li>
                <li>
                    <form action="/logout" method="POST">
                        <button type="submit">Одјави се</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>