@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --bg: #25007C;
    --dark-purple: #4110C9;
    --primary: #FFF200;
    --white: #FBFFC4;
    --darker: #13003F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg);
}

.form-card {
    background: var(--dark-purple);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 39px -4px var(--darker); 
    box-shadow: 0px 0px 39px -4px var(--darker);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header.desc-header {
    position: absolute;
    bottom: 5px;
    color: var(--bg);
    font-size: 1.5em;
}

.xo-container {
    position: fixed;
    width: 100%;
    height: 100vw;
    z-index: -1;
    overflow: hidden;
    top: 0;
}
.xo-img {
    position: absolute;
    height: 30px;
}

.form-header {
    color: var(--primary);
    font-size: 4em;
    margin-bottom: 2%;
}

label {
    color: var(--white);
    font-size: 1.5em;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-form div {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}
.user-form div input {
    margin-left: 10px;
}


a {
    color: var(--primary);
}

input {
    background: transparent;
    border: var(--primary) solid 3px;
    color: var(--primary);
    font-size: 1.2em;
    padding: 5px;
}
input::placeholder {
    color: var(--bg);
}

button {
    background: transparent;
    color: var(--primary);
    border: var(--primary) solid 3px;
    font-size: 1.5em;
    padding: 8px;
    cursor: pointer;
    transition: all ease-in 300ms;
}
button:hover {
    background: var(--primary);
    color: var(--dark-purple);
}


/* Custom classes and styles */
.err {
    color: rgb(216, 0, 12);
    background-color: rgb(255, 186, 186);
}
.succ {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.err, .succ {
    align-self: flex-start;
    margin-bottom: 3%;
    margin:10px 22px;
    font-size: 1.3em;
    vertical-align:middle;
    padding: 0 10px;
    border-radius:.5em;
    box-shadow:1px 1px 3px #888;
    border: 1px solid;
}

.main-header {
    color: var(--primary);
    font-size: 3em;
    text-align: center;
    display: block;
    margin-top: 1.5%;
}


/*=========================
    index.ejs 
===========================*/

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--dark-purple);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    height: 10vh;
}
nav ul {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
}
nav ul li {
    list-style: none;
    margin-left: 5vw;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
}
nav ul li a::before {
    content: '';
    background-color: var(--primary);
    width: 0px;
    height: 5px;
    position: absolute;
    top: 100%;
    transition: 500ms cubic-bezier(0.23, 1, 0.320, 1);
}
nav ul li a:hover::before {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome p {
    width: 80%;
    text-align: center;
}
.wraper {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    width: 60vw;
}
.join {
    width: 500px;
}
p {
    color: var(--white);
    font-size: 1.1em;
}
.p-center {
    text-align: center;
}
.form-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* topics */
.topic-el {
    font-size: 1.2em;
}
.green {
    color: lawngreen;
}
.yellow {
    color: sandybrown;
}

.topics {
    margin-bottom: 2rem;
    margin-left: 5vw;
}
.topics > div {
    position: relative;
    display: flex;
}
.fa-users,
.fa-boxing-glove {
    background-color: var(--dark-purple);
    color: var(--primary);
    font-size: 3em;
    padding: 5%;
    width: 2em;
    text-align: center;
    border-radius: 1rem;
    z-index: 1;
}
i + span {
    display: block;
    width: 20px;
    height: 50px;
    position: relative;
}
.con {
    visibility: hidden;
    background-color: var(--dark-purple);
    position: absolute;
    left: 50%;
    top: -15vh;
    width: 20vw;
    height: 40vh;
    padding: 20px;
    border-radius: 20px;
    transition: .4s all cubic-bezier(0.23, 1, 0.320, 1);
    opacity: 0;
    overflow-x: hidden;
}
.card-header {
    color: var(--primary);
    font-size: 1.5em;
}
.topics div:hover .con{
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    left: 100%;
}
.circle {
    background-color: red;
    color: var(--white);
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rooms-con .yellow {
    font-size: 0.8em;
    margin-left: 30px;
}
.alone {
    color: var(--bg);
    font-size: 1.2em;
}
.spaceplz {
    width: 100%;
    height: 50px;
    z-index: 5;
}

/*=========================
    leaderboard.ejs 
===========================*/
table {
    position: absolute;
    height: 80vh;
    background: var(--dark-purple);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    overflow-y: auto;
    padding: 2%;
    border-collapse: collapse;
}
th { 
    font-size: 1.5em;
    height: 70px;
    color: var(--primary);
}
td {
    font-size: 1.2em;
    color: var(--white);
    text-align: center;
    border-bottom: 2px var(--bg) solid;
    width: 150px;
    height: 50px;
}

.user { color: #00D8FF; }


/*==============
    ROOM-oom
  ==============*/
.waiting {
    color: var(--primary);
    font-size: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    z-index: 100;
    top: 0;
}

.table {
    height: 399px;
    width: 399px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tab {
    height: 133px;
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-size: 3.5em;
}
/* hardcoding borders... */
.tab:nth-child(1),
.tab:nth-child(2),
.tab:nth-child(4),
.tab:nth-child(5),
.tab:nth-child(7),
.tab:nth-child(8) {
    border-right: solid var(--primary) 5px;
}
.tab:nth-child(1),
.tab:nth-child(2),
.tab:nth-child(3),
.tab:nth-child(4),
.tab:nth-child(5),
.tab:nth-child(6) {
    border-bottom: solid var(--primary) 5px;
}

.battle {
    position: relative;
    margin-top: 3%;
    width: 100%;
}
.battle div {
    display: flex;
    flex-direction: column;
}
.p1, .p2 {
    color: var(--primary);
    font-size: 2em;
}
.s1, .s2, .dots {
    color: var(--dark-purple);
    font-size: 1.8em;
}
.vs-text {
    color: var(--dark-purple);
    font-size: 3em;
}
.vs {
    align-items: center;
    line-height: .9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.p1-info {
    align-items: flex-end;
    position: absolute;
    right: 53%;
}
.p2-info {
    position: absolute;
    left: 53%;
}
.dots {
    margin-top: 13px;
}
.next {
    color: var(--primary);
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
}
.game-btn {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
}
header .game-btn {
    color: var(--primary);
    font-size: 1.5em;
}