<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>O nama</title>
</head>

<body>
    <header>
        <div>
            <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Početna</a></li>
                <li><a href="/gostovanja">Gostovanja</a></li>
                <li><a href="/o-nama">O nama</a></li>
                <li><a href="/naruci">Naruči</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </header>

    <main>
        <h1 class="main-header">O nama</h1>

        <section>
            <p class="onama">
                Učenička kompanija Ekolim iz gimnazije ,,Bora Stanković’’ u Nišu, osnovana je 2021. godine i čine je pet
                ambicioznih učenika prve godine. Ona predstavlja „sklop mladosti, iskustva i svesti“.Bavimo se
                proizvodnjom
                i prodajom solarnih panela od limenki. Želimo da našu zemlju i planetu učinimo lepšim mestom za život.
                <br><br>
                Kompanije gimnazije ,,Bora Stankovic’’ uvek su prednjacile u inovacijama, pa smo i mi krenuli njhovim
                stopama. Obratili smo paznju na ekologiju kao generacijski problem. Kompanija ,,Ekolim’’ je vodjena
                idejom
                obnovljivog razvoja, inspiraciju je pronašla iz svakodnevnog života madih koji upotrebe na hiljade
                limenki
                dnevno. Limenkama je potrebno 200-250 godina da bi se razgradile.. Sve te limenke na kraju budu
                neiskorišćene, ova ideja bi to promenila, tim povodom nastaje kompanija ,,EkoLim”. Umesto procesa
                reciklacije, uvideli smo bolju priliku da te limenke iskoristimo ponovo. . Istraživanja pokazuju da je u
                toku jedne godine, sunčeva energija koja dospeva na Zemlju veća od energije neophodne da zadovolji
                potrebe
                celokupne populacije naše planete! Do ideje smo dosli uvidevsi finansijsko stanje porodica u nasoj
                zemlji.
                Svi znamo koliko nam je bitno ocuvanje zivotne sredine, samim tim smo odlucili da ljudima koji nisu u
                mogucnosti za kupovinu obicnog solarnog panela, ponudimo jeftiniji, a opet koristan proizvod.
            </p>
            <img src="/img/tim.jpg" alt="ekipica">
        </section>

        <section>
            <h2 class="secondary-header">Opis članova</h2>

            <div class="kartica">
                <img src="/img/rale.jpeg" alt="rale">
                <div>
                    <p class="opis">Ćaooo! Moje ime je Petrović Rastko i učenik sam Gimnazije ,,Bora Stanković” u Nišu.
                        U
                        kompaniji EkoLim imam ulogu generalnog direktora. U slobodno vreme volim da se bavim muzikom.
                        Zanimaju me klimatske promene i smatram da je to bitna tema svih nas. Imam adekvatne
                        organizacione sposobnosti, kao i sposobnosti organizovanja svih članova u jedan skladan tim. Za
                        mene je ovo takmičenje novo iskustvo i spreman sam da naučim nešto iz ovoga.
                    </p>
                    <h3 class="uloga">Generalni direktor</h3>
                </div>
            </div>
            <div class="kartica">
                <img src="/img/steva.jpeg" alt="rale">
                <div>
                    <p class="opis">Zovem se Stevan Ranđelović. Imam iskustva u tehničkom obrazovanju i osvojio sam prvo
                        mesto na republičkom takmičenju 2019. godine. Sam učim programiranje već godinu i po, stoga sam
                        ja
                        zadužen za sajt naše kompanije. Brzo učim nove stvari i za mene je ovo veliki izazov. Aktivno se
                        bavim sportom i treniram plivanje.</p>
                    <h3 class="uloga">Direktor proizvodnje</h3>
                </div>
            </div>
            <div class="kartica">
                <img src="/img/jana.jpeg" alt="rale">
                <div>
                    <p class="opis">Ćaoooss! Moje ime je Jana Simić i pohadjam prvi razred Gimnazije ,,Bora Stanković ‘’
                        . U
                        slobodno vreme volim da programiram, slušam muziku i bavim se marketingom. Uvek sam motivisana
                        za
                        grupne projekte. Volim da se družim sa prijateljima i diskutujem o intrigantnim temama.</p>
                    <h3 class="uloga">Direktor marketinga</h3>
                </div>
            </div>
            <div class="kartica">
                <img src="/img/tanja.jpeg" alt="rale">
                <div>
                    <p class="opis">Ja sam Tatjana Živadinović i učenica sam prve godine bilingvalnog odeljenja
                        Gimnazije
                        "Bora Stanković". Imam puno različitih interesovanja: jezici, sport, IT tehnologije... U
                        kompaniji
                        EkoLim sam direktor finansija, što je za mene novo iskustvo i veliki izazov.</p>
                    <h3 class="uloga">Direktor finansija</h3>
                </div>
            </div>
            <div class="kartica">
                <img src="/img/kaja.jpeg" alt="rale">
                <div>
                    <p class="opis">Ćaoos. Moje ime je Kaja Gavrilović i učenica sam Gimnazije ,,Bora Stanković". U
                        kompaniji EkoLim vršim dužnost PR direktora. Član sam parlamenta i koordinator dve grupe u
                        istom.
                        Takodje sam član PRLMNT grupe gde sam koordinator event tima i Džedajskog pokreta gde sam u
                        marketing i pr timu. U slobodno vreme se bavim glumom i nadam se da ću to pretvoriti i u
                        profesiju.</p>
                    <h3 class="uloga">Direktor sektora za odnose sa javnošću</h3>
                </div>
            </div>
            <div class="kartica">
                <img src="/img/a.jpg" alt="rale">
                <div>
                    <p class="opis">Kao mentor radim 10 godina sa učeničkim kompanijama, a školske 2014/15. dobila sam titulu Preduzetnikusa godine i bila mentor učeničke kompanije „Green Grafitti“ koja je  bila predstavnik Srbije na Evropskom takmičenju učeničkih kompanija. Učeničko preduzetništvo je moje opredeljenje.Rad sa učenicima mi predstavlja uvek novi izazov, jer oni donose nove ideje i energiju.
                        Ana Veljković, profesor geografije u Gimnaziji „Bora Stanković“ i Pravno-poslovnoj školi u Nišu</p>
                    <h3 class="uloga">Mentor</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="mejl">ekolim.nis@gmail.com</div>
        <div class="c">
            <h5>© Ekolim | All rights deserved</h5>
        </div>
        <div class="ikonice">
            <a href="https://www.facebook.com/ekolim.rs"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/ekolim.rs/"><i class="fab fa-instagram-square"></i></a>
        </div>
    </footer>

    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/eb6228f5a7.js" crossorigin="anonymous"></script>

</body>

</html>