<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gostovanja.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>Gostovanja</title>
</head>

<body>

    <header>
        <div>
            <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Početna</a></li>
                <li><a href="/gostovanja">Gostovanja</a></li>
                <li><a href="/o-nama">O nama</a></li>
                <li><a href="/naruci">Naruči</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </header>

    <main>
        <h1 class="main-header">Gostovanja</h1>
        <p class="tekst">Kako bismo doprli do što većeg broja ljudi, brzo proširili našu ideju, misiju i viziju,
            odlučili smo da stupimo u kontakt sa što više televizija i portala. Ovde možete pogledati i pročitati sve
            što smo rekli.</p>

        <section class="tv">
            <h1>Televizije</h1>

            <div class="single">
                <img src="/img/zona.png" alt="">
                <iframe src="http://www.youtube.com/embed/o5IGVxVbtVM"></iframe>
            </div>

            <div class="single">
                <img src="/img/zona.png" alt="">
                <iframe src="http://www.youtube.com/embed/Ni-LcugYoOs"></iframe>
            </div>

            <div class="single">
                <img src="/img/rts.png" alt="">
                <iframe src="http://www.youtube.com/embed/gd15wRTVnIs"></iframe>
            </div>

            <div class="single">
                <img src="/img/rts.png" alt="">
                <iframe src="http://www.youtube.com/embed/yZBPsnjsH04"></iframe>
            </div>

            <div class="single">
                <img src="/img/ns.png" alt="">
                <iframe src="https://www.youtube.com/embed/fQ3id54FOXE"></iframe>
            </div>
            
            <div class="single">
                <img src="/img/prva.png" alt="">
                <iframe src="https://www.youtube.com/embed/8EXy3-t97IE"></iframe>
            </div>

            <div class="single">
                <img src="/img/b92.png" alt="">
                <iframe src="https://www.youtube.com/embed/fQ3id54FOXE"></iframe>
            </div>

            <div class="single">
                <img src="/img/belami.png" alt="">
                <iframe src="https://www.youtube.com/embed/-8S4nxv0rbA"></iframe>
            </div>

            <div class="single">
                <img src="/img/belami.png" alt="">
                <iframe src="https://www.youtube.com/embed/9YzqZz4biPI"></iframe>
            </div>

            <div class="single">
                <img src="/img/kr.svg" alt="">
                <iframe src="https://www.youtube.com/embed/7OVlX1376XI"></iframe>
            </div>

            <div class="single">
                <img src="/img/ntv.jpg" alt="">
                <iframe src="https://www.youtube.com/embed/fxtGqzhn_hg"></iframe>
            </div>
        </section>

        <section>
            <h1>Podkast</h1>
            
            <div class="portal" style="margin-bottom: 50px;">
                <a target="_blank"
                    href="https://podcast.rs/na-mladima-svet-ostaje-ft-jana-simic/?utm_source=rss&utm_medium=rss&utm_campaign=na-mladima-svet-ostaje-ft-jana-simic">
                    <img src="https://api.breaker.audio/shows/1441247/image?v=d54cfe27d3831fa06b59252f2c8e3872&width=400&height=400" alt="">
                </a>
            </div>
        </section>

        <section>
            <h1>Portali</h1>

            <div class="portali">
                <div class="portal">
                    <a target="_blank"
                        href="https://www.nationalgeographic.rs/vesti/16545-niski-djaci-solarni-paneli-od-recikliranih-limenki.html">
                        <img src="/img/ngs.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.bbc.com/serbian/cyr/srbija-57012094">
                        <img src="https://logos-download.com/wp-content/uploads/2016/06/BBC_logo.png" alt="">
                    </a>
                </div>

                <h1>DEGINA</h1>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.rts.rs/page/stories/sr/story/125/drustvo/4319662/limenke-solarni-panel-gimnazija-bora-stankovic-nis-uenici.html">
                        <img src="/img/rts.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.ni.rs/en/mayor-with-the-winners-of-the-regional-competition-of-student-companies/?utm_source=rss&utm_medium=rss&utm_campaign=mayor-with-the-winners-of-the-regional-competition-of-student-companies">
                        <img src="https://www.ni.rs/wp-content/uploads/2019/10/nish-logo-sr-en-e1570054586269.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.kurir.rs/vesti/srbija/3668501/mlade-nislije-napravile-solarne-panele-od-konzervi-promovisu-ekologiju-smanjuju-zagadjenje-i-stede-novac-za-grejanje-do-100-puta">
                        <img src="/img/kr.svg" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://citysmart.media/vesti/obrazovanje-2/niski-gimnazijalci-osmislili-izum-koji-bi-mogao-da-smanji-zagadjenost/">
                        <img src="/img/citys.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank" href="https://www.tvzonaplus.rs/niski-ucenici-napravili-solarni-panel-od-limenki/">
                        <img src="/img/zona.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.vesti.rs/Nis/Niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija.html">
                        <img src="/img/vesti.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://jugmedia.rs/srednjoskolci-napravili-solarni-panel-od-limenki-i-pobedili-na-regionalnom-takmicenju-ucenickih-kompanija/">
                        <img src="https://jugmedia.rs/wp-content/uploads/2018/12/jmlogo2018-1.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://naslovi.net/2021-03-29/juzne-vesti/niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija/27605135">
                        <img src="/img/naslovi.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.energetskiportal.rs/niski-gimnazijalci-napravili-solarne-panele-od-limenki/">
                        <img src="/img/enpor.svg" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://niskiportal.rs/vest/209990201-04-202162248">
                        <img src="/img/np.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.e2.rs/niski-gimnazijalci-od-limenki-prave-solarne-panele/">
                        <img src="/img/e2.png" alt="">
                    </a>
                </div>

                <div class="portal">
                    <a target="_blank"
                        href="https://www.juznevesti.com/Drushtvo/Niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija.sr.html">
                        <img src="/img/jv.png" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://tekdeeps.com/can-high-school-students-from-a-can-of-real-solar-panels/">
                        <img src="https://tekdeeps.com/wp-content/uploads/2020/05/cropped-tekdeeps_logo.png" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://www.ekapija.com/en/news/3231040/student-company-ekolim-from-nis-makes-solar-panels-from-tin-cans">
                        <img src="https://www.ekapija.com/uploads/images/ekapija_logo_en.svg" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://theworldnews.net/rs-news/mlade-nislije-napravile-solarne-panele-od-konzervi-promovisu-ekologiju-smanjuju-zagadenje-i-stede-novac-za-grejanje-do-100-puta">
                        <img src="https://www.iamjillstephenson.com/wp-content/uploads/2018/06/Jill-Stephenson-The-World-News-Logo.png" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://www.niski.press/niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija/">
                        <img src="https://www.niski.press/wp-content/uploads/2020/10/niski.press_.logo33.png" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://adriamedia.tv/Vesti/a11973/MLADE-NISLIJE-NAPRAVILE-SOLARNE-PANELE-OD-KONZERVI-Promovisu-ekologiju-smanjuju-zagadjenje-i-stede-novac-za-grejanje-do-100-puta.html">
                        <img style="background-color: rgb(37, 130, 218);" src="https://adriamedia.tv/Picture/13/png/logo.png" alt="">
                    </a>
                </div>
                <div class="portal">
                    <a target="_blank"
                        href="https://nuevoperiodico.com/los-estudiantes-de-secundaria-de-nis-fabricaron-paneles-solares-con-latas/">
                        <img src="https://topsecretsclubpenguin.files.wordpress.com/2010/11/nuevo-periodico.png" alt="">
                    </a>
                </div>
                
                <div class="portal">
                    <a target="_blank"
                        href="https://naissus.info/ekolim-niski-djaci-najbolji-u-regionu-na-takmicenju-ucenickih-kompanija/">
                        <img src="https://naissus.info/wp-content/uploads/2018/02/logo1.png" alt="">
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="mejl">ekolim.nis@gmail.com</div>
        <div class="c">
            <h5>© Ekolim | All rights deserved</h5>
        </div>
        <div class="ikonice">
            <a href="https://www.facebook.com/ekolim.rs"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/ekolim.rs/"><i class="fab fa-instagram-square"></i></a>
        </div>
    </footer>

    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/eb6228f5a7.js" crossorigin="anonymous"></script>
</body>

</html>