<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>Ekolim</title>
</head>

<body>
    <header>
        <div>
            <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Početna</a></li>
                <li><a href="/gostovanja">Gostovanja</a></li>
                <li><a href="/o-nama">O nama</a></li>
                <li><a href="/naruci">Naruči</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </header>

    <div class="uvod">
        <img src="/img/jkra.jpg" alt="" class="bg">
        <div class="filter"></div>

        <div class="prikaz">
            <h1 class="naziv">Ekolim</h1>
            <h3 class="opis-kompanije">Proizvodnja i prodaja solarnih panela od limenki. <br>Povoljno i ekološki
                usklađeno.</h3>
            <p class="najslogan">Limenku daj i zemlji vrati sjaj.</p>
            <img src="/img/strelica.png" alt="" class="skrol-btn">
        </div>
    </div>

    <section class="probenca">
        <h1 class="naslov-sekcije">Proizvod</h1>
        <div class="sekcija">

            <div class="pod">
                <h3 class="podnaslov">Opis proizvoda</h3>
                <div class="kn">
                    <img class="skica rad" src="/img/p1.jpg" alt="">
                    <p class="tekst">Proizvod koji nudimo je solarni panel od limenki. Kućište za solarni kolektor napravljeno
                        je od
                        drveta (vodootporni šper), dok je njegova prednja strana od stakla deblljine 3mm. Na zadnjoj strani kućišta
                        postavljen je stirodur kao izolacija.
                        Solarni apsorber izradjen je od limenki koje su ofarbane mat-crnom bojom otpornom na visoke temperature.
                        Gornji deo (poklopac) limenke je posebno oblikovan da bi se dobila veća efikasnost prilikom razmene
                        toplote
                        izmedju limenke i vazduha.
                    </p>
                </div>
            </div>
            
            <div class="pod">
                <h3 class="podnaslov">Funkcionalnost</h3>
                <div class="kn">
                    <img src="/img/prda1.png" class="toplota rad">
                    <p class="tekst">
                        Kada je sunčano, bez obzira na spoljašnju temperaturu, vazduh u
                        limenkama se
                        zagreje veoma brzo. Postoje dve verzije ovog kolektora. Prva, pasivna verzija radi na principu prirodne
                        cirkulacije toplog vazduha i ne koristi dodatnu energiju za rad. Druga verzija ima ugrađen ventilator
                        koji
                        povećava efikasnost grejanja, ali je neophodan električni priključak za rad. U oba slučaja zagrejani
                        vazduh
                        vraća se nazad u prostoriju koju grejemo. Ovakav proizvod bi na jeftin i jednostavan način povećao
                        korišćenje obnovljivih izvora energije i samim tim smanjio zagadjenje životne sredine. Pošto proizvod
                        radi
                        pri bilo kojoj sunčevoj svetlosti, idealan je dodatak postojećem sistemu grejanja tokom dana uštedom
                        gotovo
                        25 do 40% troškova grejanja.
                    </p>
                </div>
            </div>
            
            <div class="pod">
                <h3 class="podnaslov">Montaza</h3>
                <div class="kn">
                    <img src="/img/prda2.png" class="ugao rad">
                    <p class="tekst">
                        Solarni panel od limenki kao grejač vazduha može se koristiti bilo gde: u kući,
                        vikendici, garaži, a primenu može naći i u poljoprivredi. Njime se mogu dogrevati plastenici ili
                        prostorije
                        u kojima borave životinje. Solarni panel je najbolje postaviti sa južne strane kuće, na vertikalnu
                        površinu
                        koja će obezbediti najbolji ugao između panela i sunca. Solarni panel može se postaviti i na krov pod
                        uglom
                        do 45° kako bi se što bolje iskoristili sunčevi zraci. Za montažu je potrebno izbušiti dva otvora u
                        zidu/krovu kroz koje bi strujao vazduh.
    
                        Ukoliko se koristi panel sa ventilatorom potreban je i dovod električne energije. Ukoliko nema sunca
                        potrebno je prekinuti dovod vazduha u solarni kolektor, jer bi u suprotnom prostorija počela da se
                        hladi.
                        Ovo se može rešiti na jednostavan način – ugradnjom bespovratnog ventila čime bismo sveli gubitke
                        toplote na
                        minimum.</p>
                </div>
            </div>
            
            
        </div>
        <h1 class="naslov-sekcije" style="margin-bottom: 20px;">Prednosti naše kompanije</h1>
        <img src="/img/pl.jpg" style="margin-bottom: 100px;" class="prednosti-slika" alt="">

        <h1 class="naslov-sekcije">Sponzorstva i saradnja</h1>
        <div class="sekcija sponzori">
            <a href="https://www.rajkpromet.com/"><img src="/img/rajk.png" alt="" class="sponzor"></a>
            <a href="https://www.patrol.co.rs/"><img src="/img/pmp.png" alt="" class="sponzor"></a>
            <a href="https://www.jkpmediana.rs/"><img src="/img/jkpm.png" alt="" class="sponzor"></a>
            <a href="https://ntp.rs/#"><img src="/img/ntp.png" alt="" class="sponzor"></a>
            <a href="https://deli.rs/"><img src="/img/deli.png" alt="" class="sponzor"></a>
            <a href="https://kzm.ni.rs/"><img src="/img/kzm.png" alt="" class="sponzor"></a>
        </div>
    </section>

    <footer>
        <div class="mejl">ekolim.nis@gmail.com</div>
        <div class="c">
            <h5>© Ekolim | All rights deserved</h5>
        </div>
        <div class="ikonice">
            <a href="https://www.facebook.com/ekolim.rs"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/ekolim.rs/"><i class="fab fa-instagram-square"></i></a>
        </div>
    </footer>

    <script src="/js/app.js"></script>
    <script src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/eb6228f5a7.js" crossorigin="anonymous"></script>
</body>

</html>